<% include inc/header.html %>
<div class="jumbotron" style="padding-top:50px;background:url(/static/img/bg.jpg); background-size:cover">
  <div class="container" style="padding-top:50px;">
    <h1 style="font-size:48px;">A Node.js Web Application Framework</h1>
    <p style="margin-top:40px;">Think.js是一个快速、简单的基于MVC和面向对象的轻量级Node.js开发框架，遵循MIT协议发布。秉承简洁易用的设计原则，在保持出色的性能和至简的代码同时，注重开发体验和易用性，为WEB应用开发提供强有力的支持。</p>
    <p style="margin-top:40px;">Think.js里面很多特性来源于ThinkPHP，同时根据Node.js的特点，使用了Promise, WebSocket等特性，让代码更简洁、优雅。</p>
    <p style="margin-top:40px;"><a class="btn btn-success btn-lg" role="button" href="/introduce">查看更多 &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>开发者</h2>
      <ul style="padding-left:20px;">
        <li><a href="https://github.com/welefen/" target="_blank">welefen</a></li>
        <li><a href="https://github.com/akira-cn/" target="_blank">akira-cn</a></li>
        <li><a href="https://github.com/qgy18/" target="_blank">qgy18</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Changelog</h2>
      <ul style="padding-left:20px;">
      	<li>优化Session机制，实现gc</li>
        <li>支持websocket，无缝切换</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>已经使用的产品</h2>
      <ul style="padding-left:20px;">
        <li><a href="http://www.gitpress.org/" target="_blank">gitpress</a></li>
        <li><a href="https://www.imququ.com/" target="_blank">JerryQu 的小站</a></li>
        <li><a href="http://www.welefen.com" target="_blank">welefen的随笔</a></li>
      </ul>
    </div>
  </div>
  </div>
	<hr>
	<div class="container">
	<footer>
	<p style="color:#666;" class="text-center">@2014</p>
	</footer>
	</div>
  </body>
</html>
