body {
  color: #000;
  font-size: 14px;
  font-family: 'Microsoft Yahei', monospace, sans-serif, serif;
  margin: 0;
  padding: 0;
}

html, body, #app, .app-container {
  height: 100%;
  overflow: hidden;
}

.app__content .main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app__content .main .main-wrapper {
  height: 100%;
}

.main-wrapper__scroll {
  height: 100%;
  overflow-y: auto;
  padding: 15px 20px 50px 20px;
}

.main-wrapper__scroll__search-row .col-md-2 {
  width: 300px;
}

.main-wrapper__scroll__search-row .col-md-10 {
  width: auto;
  float: right;
}

.main-wrapper__scroll__search-row:after {
  content: '';
  display: block;
  clear: both;
}