body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.clearfix {
	clear: both;
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
}
body {
	background: #fff;
	font: 12px/1.5 "Helvetica Neue", \5FAE\8F6F\96C5\9ED1,helvetica,arial,sans-serif;
	color: #131313;
	padding: 0;
	margin: 0;
	max-height: 100%;
	text-rendering: optimizeLegibility;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}
.header {
	position: relative;
	height: 76px;
	background: #ffffff;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.logo {
	float: left;
	width: 146px;
	height: 55px;
	margin-top: 10px;
}
.headr {
	float: right;
	margin-top: 20px;
}
.headr a {
	font-size: 16px;
	position: relative;
	top: 10px;
	color: #888;
}
.footer {
	border-top: 1px solid #e8e8e8;
	margin-top: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}
.footer a {
	color: #428bca;
}
h1 {
	font-weight: normal;
	text-align: center;
	font-size: 26px;
	margin-top: 30px;
	color: #666;
	line-height: 30px;
	height: 30px;
}
.error-msg {
	text-align: center;
	font-size: 16px;
	margin-top: 30px;
	color: #666;
	min-height: 80px;
	word-wrap: break-all;
}
/* prettify code style
Uses the Doxy theme as a base */
pre .str, code .str { color: #BCD42A; }  /* string  */
pre .kwd, code .kwd { color: #4bb1b1;  font-weight: bold; }  /* keyword*/
pre .com, code .com { color: #888; font-weight: bold; } /* comment */
pre .typ, code .typ { color: #ef7c61; }  /* type  */
pre .lit, code .lit { color: #BCD42A; }  /* literal */
pre .pun, code .pun { color: #fff; font-weight: bold;  } /* punctuation  */
pre .pln, code .pln { color: #e9e4e5; }  /* plaintext  */
pre .tag, code .tag { color: #4bb1b1; }  /* html/xml tag  */
pre .htm, code .htm { color: #dda0dd; }  /* html tag */
pre .xsl, code .xsl { color: #d0a0d0; }  /* xslt tag */
pre .atn, code .atn { color: #ef7c61; font-weight: normal;} /* html/xml attribute name */
pre .atv, code .atv { color: #bcd42a; }  /* html/xml attribute value  */
pre .dec, code .dec { color: #606; }  /* decimal  */
pre.prettyprint, code.prettyprint {
  font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
  background: #333;
  color: #e9e4e5;
}
pre.prettyprint {
  white-space: pre-wrap;
  padding: 10px;
  margin: 0;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .05), 0 10px 30px rgba(0, 0, 0, .05), inset 0 0 1px 0 rgba(255, 255, 255, .07);
}

pre.prettyprint a, code.prettyprint a {
  text-decoration:none;
}

.linenums li {
  color: #A5A5A5;
}

.linenums li.current{
  background: rgba(255, 100, 100, .07);
  padding-top: 4px;
  padding-left: 1px;
}
.linenums li.current.active {
  background: rgba(255, 100, 100, .17);
}
.stacks-header {
	font-size: 2em;
	padding: 50px 0;
	word-break: break-all;
	font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}
ul.stacks {
	padding:0;
	margin: 0;
	list-style-type: none;
}
ul.stacks>li {
	padding: 14px;
	cursor: pointer;
	transition: all 0.1s ease;
	background: #eeeeee;
}
ul.stacks>li:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}
ul.stacks>li:not(.active):hover {
	background: #BEE9EA;
}
ul.stacks>li.active {
	box-shadow: inset -5px 0 0 0 #4288CE;
	color: #4288CE;
}
ul.stacks>li.stack-code {
	display: none;

}
ul.stacks>li.active.animation-hide + .stack-code{
	transform: scaleY(0);
}
ul.stacks>li.active+.stack-code {
	display: list-item;
	background: #FFF;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	animation: scaleShow;
}
ul.stacks>li:last-child {
	border-bottom: 1px solid #eee;
}
@keyframes sacleShow {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}
ul.stacks .stack-info {
	margin-bottom: 10px;
}
ul.stacks .stack-info .stack-index{
	font-size: 11px;
	color: #a29d9d;
	background-color: rgba(0, 0, 0, .05);
	height: 18px;
	width: 18px;
	line-height: 18px;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
}
ul.stacks .stack-info .stack-function {
	font-size: 14px;
}
ul.stacks .stack-file {
	font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
	word-wrap: break-word;
	color: #a29d9d;
}
.wrap-bg {
	margin-top:20px;
	height:313px;
	background:url(../images/500.png) top center no-repeat;
}